.section-p1 {
    padding: 40px 80px;
}

.section-p3 {
    padding: 40px 80px 40px 30px;
}

/* Page Header Start */
#page-header{
    background-image: url("../image-content/banner/about-header.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2 {
    color: #ffffff;
    font-size: 60px;
}

#page-header p{
    color: #ffffff;
    font-size: 30px;
}
/* Page-Header Style End */

/* about-head start */
#about-head{
    display: flex;
    align-items: center;
}

#about-head img{
    width: 50%;
    height: auto;   
}

#about-head h2{
    font-size: 60px;
}

#about-head p{
    font-size: 20px;
}

#about-head div{
    padding-left: 40px;
}
/* about-head end */


/* Footer Style Start */
footer{
    background-color: #eeeeee;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .cols{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 20px;
    padding-bottom: 10px;
}

footer p{
    font-size: 15px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 15px;
    text-decoration: none;
    color: #222;
    margin-bottom: 5px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .rows img{
    border: 1px solid #000000;
    border-radius: 6px;
}

footer .install img{
    border: 1px solid #000000;
    border-radius: 6px;
    margin: 10px 0 15px 0;
}

footer .follow i:hover, footer a:hover{
    color: #088178;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

#information .row{
    width: 106%;
}

/* Footer Style End */