.dropdown-item:hover {
    background-color: var(--bs-gray);
    color: var(--bs-light);
}

.section-p1 {
    padding: 40px 80px;
}

.section-p2 {
    padding: 20px 80px 40px 80px;
}

.section-p3 {
    padding: 40px 80px 40px 30px;
}

.section-m1 {
    margin: 40px 0;
}

.icon-style{
    color:#000000;
}

button.white{
    font-size: 15px;
    font-weight: 600;
    padding: 12px 30px;
    color: #000000;
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #000000;
    outline: none;
    transition: 0.2s;
}

#Navbar a, #Navbar button{
    color: #000000;
}

/* Page-Header Style Start*/
#page-header{
    background-image: url("../image-content/banner/page-header2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2 {
    color: #ffffff;
    font-size: 60px;
}

#page-header p{
    color: #ffffff;
    font-size: 30px;
}

/* Page-Header Style End */

/* Pagination Style Start */
#pagination{
    text-align: center;
}

#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding: 15px 20px;
    border-radius: 4px;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
}
/* Pagination Style End */

/* Product Style Start */
#product1{
    background-color: #ffffff;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 15%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1.5px solid #DDE6ED;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    background-color: #ffffff;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    border: 1.5px solid #088178;
}

#product1 .pro img{
    width: 100%;
    border-radius: 10px;
}

#product1 .pro .des{
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #606063;
    font-size: 15px
}

#product1 .pro .des h5{
    padding-top: 5px;
    color: #1a1a1a;
    font-size: 25px;
}

#product1 .pro .des i{
    font-size: 15px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 25px;
    font-weight: 700;
}

#product1 .pro .cart-info{
    color: #1a1a1a ;
    position: absolute;
    bottom: 40px;
    right: 25px;
}

/* Product Style End */

/* Footer Style Start */
footer{
    background-color: #eeeeee;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .cols{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 20px;
    padding-bottom: 10px;
}

footer p{
    font-size: 15px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 15px;
    text-decoration: none;
    color: #222;
    margin-bottom: 5px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .rows img{
    border: 1px solid #000000;
    border-radius: 6px;
}

footer .install img{
    border: 1px solid #000000;
    border-radius: 6px;
    margin: 10px 0 15px 0;
}

footer .follow i:hover, footer a:hover{
    color: #088178;
}

footer .copyright{
    width: 100%;
    text-align: center;
}
/* Footer Style End */


#information .row{
    width: 106%;
}