.section-p1 {
    padding: 40px 80px;
}

.section-p3 {
    padding: 40px 80px 40px 30px;
}

button.normal{
    font-size: 15px;
    font-weight: 600;
    padding: 12px 30px;
    color: #000;
    background-color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}


/* Page Header Start */
#page-header{
    background-image: url("../image-content/banner/about-header.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2 {
    color: #ffffff;
    font-size: 60px;
}

#page-header p{
    color: #ffffff;
    font-size: 30px;
}
/* Page-Header Style End */

/* cart table Start */
#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img{
    width: 70px;
}

#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}
 
#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4), #cart table td:nth-child(5), #cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0 ;
}

#cart table tbody tr td{
    padding-top: 15px;
}

/* cart table End */


/* Cart-add table Start */
#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon{
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3, #subtotal h3{
    padding-top: 15px;
}

#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#coupon button, #subtotal button{
    background-color:#088178;
    color: #ffffff;
    padding: 12px 20px;
}

#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}


/* Cart-add table End */

/* Footer Style Start */
footer{
    background-color: #eeeeee;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .cols{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 20px;
    padding-bottom: 10px;
}

footer p{
    font-size: 15px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 15px;
    text-decoration: none;
    color: #222;
    margin-bottom: 5px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .rows img{
    border: 1px solid #000000;
    border-radius: 6px;
}

footer .install img{
    border: 1px solid #000000;
    border-radius: 6px;
    margin: 10px 0 15px 0;
}

footer .follow i:hover, footer a:hover{
    color: #088178;
}

footer .copyright{
    width: 100%;
    text-align: center;
}

#information .row{
    width: 106%;
}

/* Footer Style End */